@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter+Tight:wght@100;200;300;400;500&family=Karla:wght@400;800&family=Poppins:wght@200;400;700&family=Quicksand:wght@300;500;600&family=Roboto:wght@100;300;400&family=Work+Sans:wght@300&display=swap');
$primary: #BAD7E9;
$danger: #EB455F;
$font-Color: #FCFFE7;
$secondary: #2B3467;
$success: #72d87a;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $secondary;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

.weather-card {
    width: 300px;
    height: 240px;
    padding: 24px;
    background-color: $primary;
    display: flex;
    flex-direction: column;




}

.weather-card h3 {
    margin-bottom: 24px;
    font-size: 24px;

}

.pending {
    background-color: $success;

    color: $font-Color;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4px;


}

.danger {
    background-color: $danger;
    color: $font-Color;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4px;
}

.message {

    display: inline-block;
    font-size: 16px;
    padding: 0;


}

.msg .toggle {
    display: none;
}

.inputForm {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

.or {
    width: 100%;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;

}

button:hover {
    background-color: $secondary;
    color: $font-Color;

}

.weatherDetail {
    width: 280px;
    height: auto;
    background-color: black;
    color: $font-Color;
    display: none;

}

.exit {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-Color;
    border-bottom: 1px solid rgb(51, 51, 51);
    cursor: pointer;
}

.exit p {
    margin-left: 8px;
}

.weatherImage {
    width: 100%;
    height: 110px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.weatherImage img {
    width: 100px;
    height: 100px;
}

.weather-data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp {
    font-size: 48px;
}

.weatherCondition {
    padding: 12px 0px 12px 0px;
    font-size: 18px;
}

.city {
    padding-bottom: 12px;
    font-size: 18px;
}

.more {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(51, 51, 51);




}

.feelLike {
    width: 50%;
    height: 100%;
    text-align: center;
    border-right: 1px solid rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humidity {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}